@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #1f2937; /* Darker background for the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #4f46e5; /* Color of the scrollbar thumb */
  border-radius: 8px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #3b82f6; /* Change color on hover */
}

::-webkit-scrollbar-button {
  display: none; /* Hide the scrollbar buttons (arrows) */
}
